html,body {
	margin: 0;
	padding: 0;
}
.header{
	background-color: #F1FAFF;
	font-family: roboto;
	padding-top: 20px;
	padding-bottom: 20px;
	  border-radius: 0 0 500PX 700PX;
}
.logo{
	width: 50px;
	height: 50px;
	margin-left: 10%;
	padding-bottom: 15px;
}
.options{
	float: right;
	color: #2e2c2e;
	padding-right: 200px; 
	font-family: roboto;
	font-size: 18px;
	padding-top: 10px;
	text-shadow: 1px 1px grey;
	
}
.grid{
	padding-top: 40px;
	display: grid;
	grid-template-columns: auto auto;
	padding-bottom: 163px;
	
}
.divimage{
	  width: 100%;
  max-width: 400px;
  height: auto;
	
}
.image2{
	padding-right: 100px;
}
.para1{

	padding-top: 100px;
	font-family: roboto;
	font-size: 50px;
	padding-left: 170px;
}
form.example input[type=text] {
  margin-top: 5%;
  padding: 15px;
  font-size: 17px;
  border: 1px ;
  float: left;
  width: 57%;
  background-color: white;
  border-left:none;
  border-radius: 0px 100px 100px 0;
  border-color: #e6f1f7;
  color: #959499;
   
}

form.example button {
	 margin-top: 5%;
  float: left;
  width: 10%;
  padding: 15px;
  background-color:white;
  opacity: 100%;
  color: black;
  font-size: 17px;
  border: 1px;
  cursor: pointer;
  border-right:none;
  border-radius: 100px 0 0 100px;
  border-color: #e6f1f7;

}

.navbar{
	padding-left: 100px;
padding-right: 200px;
background-color: #F1FAFF;
text-decoration: none;
font-size: 17px;
}
/*End of module 1 CSS*/

.first-div {
  float: left;
  width: 150px;
  height: 10px;
}
.first-div img {
  margin: 0 auto;
  padding-top: 0;
}
.second-div {
  float: right;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding-right: 100px;
  padding-top: 45px;
  font-size: 15px;
}
.second-div h1 {
  font-size: 2em;
  letter-spacing: 2px;
  line-height: 1.5em;
}
.second-div p {
  letter-spacing: 1.5px;
  line-height: 1.5em;
}
.sign-up input {
  background-color: #ff5500;
  margin-top: 60px;
  color: #ffffff;
  border-radius: 20px;
  height: 50px;
  width: 150px;
  border: none;
}
@media only screen and (max-width: 768px) {
  .second-div h1 {
    font-size: 1.5em;
    letter-spacing: 1.5px;
    line-height: 1.2em;
  }
  .second-div p {
    letter-spacing: 1.2px;
    line-height: 1.2em;
  }
  sign-up input {
    margin-top: 70px;
    height: 40px;
    width: 130px;
  }
}

@media only screen and (max-width: 400px) {
  .second-div h1 {
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1em;
  }
  .second-div p {
    letter-spacing: 1px;
    line-height: 1em;
    color: #8c8c8c;
  }
  sign-up input {
    margin-top: 80px;
    height: 30px;
    width: 110px;
  }
}

.module6{
	margin: 0px;
	padding:40px;
	background-color:white;
	
}


.section-header{
	font-family: Arial black, Helvetica;
	font-style:normal;
	font-weight:15px;
	font-size:medium;
   text-align: center;
   padding-bottom: 10%;
   
}


#module61 .box{
	padding:40px;
	padding-left: 30px;
	position:relative;
	overflow: hidden;
	border-radius: 17px;
	margin: 0 10px 40px 10px;
	background: #fff;
	box-shadow: 0 35px 35px 0 rgba(9, 11, 15, 0.1);
	font-family:sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size:larger;
	text-align: center;
}
.box p{
	text-align: left;
}
.module2{
    font-family: 'Roboto';
}

.line   {
  display: inline-block;
  padding: 20px;
  padding-left: 100px;
  
  
}
section {
    padding-left: 100px;
}
article{
    max-width: 20%;
    display: inline-block;
    padding: 30px;
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    
}

article:hover {
    box-shadow:  10px 10px 20px #D3D3D3;
}

article img{
    max-width: 100%;
    height: 100px;
    
}

#second {
    color: darkgray;
}

section p{
    color: darkgray;
}

/* Code for module 7 */
.grid-container{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:  
						"txt email email"
						"brand navs social"
						"hr hr hr"
						"copyrights copyrights copyrights";
	margin-top: 8%;;
	grid-row-gap: 60%;
	grid-column-gap:1%;
	background-color: #F1FAFF;

}
.grid-container > .txt{
	grid-area: txt;
	font-family: roboto;
	font-size: 2em;
	text-align: right;
	font-weight: bolder;
}
.grid-container > .email{
	grid-area: email;
	grid-column: 2/4;
	text-align: center;
	justify-items: center;
	align-items: center;
	vertical-align: middle;
}

.grid-container > .brand{
	grid-area: brand;
	align-items: center;
	text-align: center;
}
.grid-container > .navs{
	grid-area: navs;
	
}

.grid-container > .social{
	grid-area: social;
}

.grid-container > .hr{
	grid-area: hr;

}
.grid-container > .copyrights{
	grid-area: copyrights;
}

.email>input{
	border:none;
	border-bottom: 1px solid gray;
	vertical-align: sub;
	margin-right: none;
	width: 40%;;
	font-weight: bold;
	background-color: transparent;
	padding-bottom: 1%;
}
.email>button{
	background-color: rgb(255, 81, 0);
	border:none;
	border-radius: 5em;
	padding:2%;
	width: 20%;
	font-weight: bold;
	color: white;
	vertical-align: 0.4em;
	margin-left: -2em;
	
}
.navs > ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	font-weight: bold;
}
.social>ul{
	list-style-type: none;
	display: flex;
	
}
.social>ul>li{
	margin-right: 10%;
	opacity: .7;
}

.copyrights{
	text-align: center;
	color: gray;
	margin: 1% 0;
}


.icons{
	width: 20px;
	height: 20px;
}
.flex-container{
	display:flex;
	margin-top: 8%;
	padding-bottom: 2%;
	height: 100%;
	width: 100%;
	flex-direction: column;
}
.module7{
	background-color: #F1FAFF; 
	margin-top: 10%;;
	padding-top:8%;
	border-top-left-radius: 50%;
	border-top-right-radius: 10%;
}